<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Go Gama</title>

<!-- Bootstrap Core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="/css/landing-page.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">  

</head>

<body>

<a name="about"></a>
<div class="intro-header">
<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <div class="intro-message">
                
                <h1>TRANSFORME-SE!</h1>
                <h3>Se você procura uma experiência incrível, aqui é o seu lugar.<br> Sua vaga em uma <i>startup</i> começa aqui!</h3>
                <hr class="intro-divider">
                
            <form name="htmlform" id="dataForm">
                <div class="form-group" align='center'>                  
                  <input type="text" required name="nome_completo" class="form-control user-email" id="customer_name" placeholder="Nome Completo"><br>                  
                  <input type="email" required name="email" class="form-control user-email" id="customer_email" placeholder="Email">
                </div>
              <button type="submit" class="btn submit-btn">ENVIAR</button>
            </form>                
            </div>
        </div>
    </div>
</div>
</div>

<!-- Page Content -->
<hr class="hr-depo">
<h2 align="center">Depoimentos</h2>
<hr class="hr-depo">

        <div style="margin-left:20px;"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 card">
                    <h4><b>Marcos Fernandes</b></h4> 
                    <p>Aprendizado e a troca de experiências que o Gama fornece é incrível!</p>          
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 card">
                    <h4><b>Rebeca Oliveira</b></h4> 
                    <p> Para quem tá em início de carreira, já é velho de guerra ou está em transição de carreira, não pense duas vezes!</p>          
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 card">
                  <h4><b>Juliana Sarti</b></h4> 
                    <p> Programa matador de capacitação</p>          
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 card">
                  <h4><b>Cásio Resende</b></h4> 
                    <p> Um programa incrível que te desafia a sair da sua zona de conforto e ir além do que você imagina que possa ir!</p>          
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 card">
                  <h4><b>Hiagyni Guimarães</b></h4> 
                    <p> Uma transformação de dentro pra fora onda todos os seus limites são testados</p>          
                </div>
            </div>
        </div>

    
        <!-- <div class="container" >
            <div class="row">
            <div class=" col">              
                    <h4><b>Marcos Fernandes</b></h4> 
                    <p> aprendizado e a troca de experiências que o Gama fornece é incrível!</p>             
            </div>
            <div class=" col">              
                    <h4><b>Marcos Fernandes</b></h4> 
                    <p> aprendizado e a troca de experiências que o Gama fornece é incrível!</p>             
            </div>
            <div class=" col">              
                    <h4><b>Marcos Fernandes</b></h4> 
                    <p> aprendizado e a troca de experiências que o Gama fornece é incrível!</p>             
            </div>                
        </div> -->

<!-- /.content-section-a -->


<!-- <footer>
<div class="container">
    <div class="row">
        <div class="col-lg-12">        
            <p class="copyright text-muted small">Copyright &copy; ESRG 2017. Todos os direitos reservados</p>
        </div>
    </div>
</div>
</footer> -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="js/return_form_data.js" />  -->
<script type="text/javascript" src="/js/script.js"></script>
</body>

</html>
