<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	<link href="/css/quiz.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<script src="/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</head>
<body>
	<div id="quizContainer" style="top:40%;" class="container">
		<h2 class="title">Será que você está pronto?</h2>
		<p>Você acha que sabe qual é o perfil ideal para sobreviver ao mundo das startups? De acordo com as questões abaixo, tente ver quantos pontos você conseguirá acertar para mandar bem nessa! Boa sorte!</p>
		<div id="question" class="question"></div>
		<div class="quiz align-middle"  id="quiz" data-toggle="buttons">
			<label class="btn btn-lg  btn-block option"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span><input type="radio" name="option" value="1"><span id="op1"/></span></label>
			<label class="btn btn-lg  btn-block option"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span><input type="radio" name="option" value="2"><span id="op2"/></span></label>
			<label class="btn btn-lg  btn-block option"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span><input type="radio" name="option" value="3"><span id="op3"/></span></label>
			<label class="btn btn-lg btn-block option"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span><input type="radio" name="option" value="4"><span id="op4"/></span></label><br>
			<!-- <button id="nextButton" class="next-btn btn text-center" onclick="loadNextQuestion();">Próxima Pergunta</button>			 -->
			<div align="center"><button id="nextButton" type="button" class="btn btn-xl" onclick="loadNextQuestion();">Próxima</button></div> 
		</div>	
		 
	</div>
	<div id="resultado" class="container result" style="display: none;"></div>
	<div id="descricao" class="container" hidden>
		<p id="descricao-text">Independente de seu desepenho, há ainda muito mais a explorar no mundo das startups! <a href="/" style="text-decoration: none;" ><b>Saiba Mais!</b></a></p>
		<div align="center"><button style="margin-top:15px;" id="nextButton" type="button" class="btn btn-xl" onclick="resetQuiz();">Reiniciar o Quiz</button></div> 
	</div>
	<script type="text/javascript" src="/js/questions.js"></script>
	 <script type="text/javascript" src="/js/script-quiz.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102832213-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>