body{
	background: url(../img/gama.jpg);
}

#descricao{
	padding-left: 20%;
	padding-right: 20%;
	top: 100%;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 22px;
	color: white;
}


.container{
	height: 600px;
	width: 1000px;
	position: absolute;;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	/*background: rgba(255, 255, 255, 0.2);*/
	padding: 20px;
	/*border: 1px solid white;*/
}

.title{
	padding-top: 20px;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 700;
	text-align: center;
	font-size: 60px;
	text-transform: uppercase;
	color: #fff;
}
.quiz{
	margin: 0 auto;
	max-width: 500px;	
}

style="top:40%;" 
#quizContainer{
	min-width: 200px;
}
.question{
	padding: 20px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 30px;
	background: #673ab7;
	color: white;
	width: 600px;
	min-width: 400px;		
	/* //left: 40%; */
	border-radius: 5px;
	 margin: 0 auto;  
}

.option{
	width: 470px;
	display: inline-block;;
	padding: 10px 0 10px 15px;
	vertical-align: middle;;
	background: #fff;
	margin: 10px 0 10px 10px;
	color: #fff;
	background: #659157;
	border-radius: 20px;
	font-family: 'Muli', sans-serif;
}


.option:hover important!{
	background: #659157;
	color: #fff;
	font-family: 'Muli', sans-serif;
}

.next-btn{
	padding: 20px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 22px;
	background: #673ab7;
	color: white;
	width: 200px;		
	height: 50px;
	/* //left: 40%; */
	border-radius: 5px;
	 margin: 0 auto;  	
}

.btn-lg{
	width: 700px !important;
}

.next-btn:hover{
	background: #200F38;
	color: #8D7CA3;
}

.result{	
	text-align: center;;
	font-size: 75px;
	color: white;
	font-family: 'Fjalla One', sans-serif;
}

.result > h1{
	font-size: 75px;
	text-shadow: 0 3px 2px rgba(0,0,0,0.4);
}

.option:checked{
	background: white;
	color: white;
}


p{
	padding-left: 20%;
	padding-right: 20%;
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
	font-size: 22px;
	color: white;
}

label.btn {
    padding: 18px 60px;
    white-space: normal;
    text-align: center;
    width: 90%;
    /* left: 25%; */
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

label:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    color: white !important;
}

.active{
	background: #ea671f!important;
	/* -webkit-transform: scale(1.1)!important;
    -moz-transform: scale(1.1)!important;
	-o-transform: scale(1.1)!important; */
	color: white !important;
}

.focus{	
	outline: none !important;
}


label.btn:checked {
    background-color: green;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}

label.btn-block {
    text-align: left;
    position: relative
}

label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    height: 100%
}

label .glyphicon {
    top: 34%
}

.btn-circle {
  width: 120px;
  height: 120px;  
  font-size: 24px;
  line-height: 1.33;
  border-radius: 100px;
  background: #673ab7;
  boder-color: #673ab7;
  color: #fff;
}

.btn-xl{
  width: 200px;
  height: 60px;  
  font-size: 24px !important;
  line-height: 1.33;
  border-radius: 20px;
  background: #673ab7;
  boder-color: #673ab7;
  color: #fff;
}

.btn-xl:hover {
	background: #3d226d !important;
-webkit-transform: scale(1.1)!important;
    -moz-transform: scale(1.1)!important;
	-o-transform: scale(1.1)!important;
	color: #fff !important;
}


#stack-text{
	width: 600px;
	padding: 0px;			
}
#descricao-text{
	margin-top:10px;
	font-size: 35px;
	text-shadow: 0 3px 2px rgba(0,0,0,0.4);
}

#stack-img{
	height: 140px;
	width: 140px;
}